@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .address-list :not(:last-child) {
    margin-right: 40px;
  }
  .address-list {
    flex-direction: row;
    margin: 0 auto;
  }

  .header-links {
    padding: 24px 0px;
  }
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-photo2x-desktop.jpg);
    }
  }
  .strategy {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f4f4fd;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
  }
  .section-ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desc-titles {
    display: flex;
    justify-content: start;

    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 8px;
  }
  .section-items {
    margin-right: 24px;
    width: 264px;
  }
  .our-team {
    padding: 120px 0;
  }
  .workers-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .employees {
    background-color: white;
    padding-bottom: 32px;
  }
  .employees:not(:last-child) {
    margin-right: 24px;
  }
  .workers-media {
    gap: 16px;
  }
  .socials-links:not(:last-child) {
    margin-right: 24px;
  }
  .company-list {
    display: flex;
  }
  .company-item:not(:last-child) {
    margin-right: 24px;
  }
  .customers-section {
    padding: 130px 0px 120px;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-div {
    display: flex;
  }
  .subscribe-container {
    display: flex;
  }
  .footer-full-logo {
    display: inline-block;
  }
  .footer-title {
    margin-right: 120px;
  }
  .footer-socials {
    display: block;
    flex-direction: column;
  }
  .footer-form {
    margin-left: 80px;
  }
  .subscribe-button {
    margin-left: 24px;
  }
}
