@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .address-list :not(:last-child) {
    margin-right: 40px;
  }
  .address-list {
    flex-direction: row;
    margin: 0 auto;
  }

  .header-links {
    padding: 24px 0px;
  }
  .strategy {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f4f4fd;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
  }
  .section-ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desc-titles {
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 8px;
  }
  .section-items {
    margin-right: 24px;
    width: 264px;
  }
  .workers-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .employees {
    background-color: white;
    padding-bottom: 32px;
  }
  .employees:not(:last-child) {
    margin-right: 24px;
  }
  .workers-media {
    gap: 16px;
  }
  .socials-links:not(:last-child) {
    margin-right: 24px;
  }
  .company-list {
    display: flex;
  }
  .company-item:not(:last-child) {
    margin-right: 24px;
  }
  .footer-div {
    display: flex;
  }
  .subscribe-container {
    display: flex;
  }
  .footer-full-logo {
    display: inline-block;
  }
  .footer-title {
    margin-right: 120px;
  }
  .footer-socials {
    display: block;
    flex-direction: column;
  }
  .footer-form {
    margin-left: 80px;
  }
  .subscribe-button {
    margin-left: 24px;
  }
}
