@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .address-list {
    flex-direction: column;
    margin: 0;
  }
}
@media screen and (max-width: 479px) {
  .modal {
    width: calc(100% - 2 * 15px);
    height: auto;
  }
}
