@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .address-list {
    flex-direction: column;
    margin: 0;
  }
  .menu-number {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #4d5ae5;
  }
  .workers-menu {
    gap: 56px;
  }
}
@media screen and (max-width: 479px) {
  .modal {
    width: calc(100% - 2 * 15px);
    height: auto;
  }
}
