@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .address-list {
    flex-direction: column;
    margin: 0;
  }
  .header-mobile {
    display: none;
  }
  .tab-desk-header {
    display: flex;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .mail-input {
    width: 264px;
  }
  .header-button {
    display: none;
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
    width: 494px;
    margin: 0 auto 48px;
  }
  .hamburger {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-section {
    padding: 112px 56px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab-bg-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet-bg-2x.jpg);
    }
  }
  .phone-number {
    margin-top: 4px;
    padding-bottom: 10px;
    padding-top: 0;
  }
  .address-list {
    font-size: 12px;
    line-height: 1.3333;
  }
  .mail {
    padding-bottom: 0;
    padding-top: 24px;
  }
  .section-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .section-items {
    width: calc((100% - 24px) / 2);
  }
  .workers-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .employees {
    background-color: white;
    padding-bottom: 32px;
  }
  .our-team {
    padding: 96px 0 104px;
  }
  .workers-media {
    gap: 16px;
  }
  .employees:nth-child(odd) {
    margin-right: 24px;
  }
  .employees:nth-child(-n + 2) {
    margin-bottom: 64px;
  }
  .company-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: calc((100% - 24px) / 3);
    column-gap: 24px;
    row-gap: 72px;
  }
  .subscribe-container {
    display: flex;
  }
  .footer-div {
    width: 565px;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-full-logo {
    display: flex;
    justify-content: start;
  }
  .footer-title {
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .mail-input {
    margin-right: 24px;
  }
  .desc-titles {
    display: flex;
    justify-content: start;
  }
}
